version: '3.8'

services:
  # app_proxy:
  #   environment:
  #     APP_HOST: kasmweb-desktop_1
  #     APP_PORT: 6901
  #     PROXY_TRUST_UPSTREAM: "true"

  kasmweb-desktop:
    image: kasmweb/desktop:1.14.0
    shm_size: 512m
    user: root
    env_file:
      - ${APP_DATA_DIR}/.env
    environment:
      - VNC_PW=password
    ports:
      - "6901:6901"
    stdin_open: true
    tty: true
    networks:
      kasm-network:
        ipv4_address: 172.22.0.2
    volumes:
      - ${UMBREL_ROOT}/data/storage//kasm-user:/home/kasm-user/shared-data

networks:
  kasm-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.22.0.0/24
