version: "3.8"

services:
  # nginx-proxy-manager:
  #   image: 'jc21/nginx-proxy-manager:latest'
  #   container_name: nginx-proxy-manager
  #   restart: unless-stopped
  #   ports:
  #     - '80:80'
  #     - '81:81'
  #     - '443:443'
  #   volumes:
  #     - ${APP_DATA_DIR}/data:/data
  #     - ${APP_DATA_DIR}/letsencrypt:/etc/letsencrypt
  #   networks:
  #     - strapi-app-network

  strapi:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BASE_VERSION: ${BASE_VERSION}
        STRAPI_VERSION: ${STRAPI_VERSION}
    container_name: strapi
    restart: unless-stopped
    env_file: .env
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      NODE_ENV: ${NODE_ENV}
      DUMP_VERSION: ${DUMP_VERSION}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      JWT_SECRET: ${JWT_SECRET}
      API_TOKEN_SALT: ${API_TOKEN_SALT}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      WEBHOOK_STRIPE_TOKEN: ${WEBHOOK_STRIPE_TOKEN}
      SERVER_URL: ${SERVER_URL}
      ADMIN_DASHBOARD_URL: ${ADMIN_DASHBOARD_URL}
      HOST: ${HOST}
      PORT: ${PORT}
      SENDMAIL_DKIM_PRIVATE_KEY: ${SENDMAIL_DKIM_PRIVATE_KEY}
      SENDGRID_API_KEY: ${SENDGRID_API_KEY}
    networks:
      - strapi-app-network
    volumes:
      - ${APP_DATA_DIR}/app:/srv/app
      - ${APP_DATA_DIR}/config-dumps-files:/srv/config-dumps-files
    ports:
      - "1337:1337"
      - "587:587"
    depends_on:
      - db


  db:
    container_name: postgres
    image: postgres:13.3-alpine
    restart: always
    env_file: .env
    networks:
      - strapi-app-network
    volumes:
      - ${APP_DATA_DIR}/sql/data.sql:/docker-entrypoint-initdb.d/data.sql
      - ${APP_DATA_DIR}/pgdata:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "5432:5432"
    expose:
      - "5432"

  pgadmin-compose:
    image: dpage/pgadmin4
    environment:
        PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
        PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    networks:
      - strapi-app-network
    ports:
        - "16543:80"
    depends_on:
        - db

networks:
  strapi-app-network:
    driver: bridge
volumes:
  pgdata:
  pgadmin:
  ssl_data:
