version: '3.8'
services:
  app_proxy:
    environment:
      APP_HOST: strapi_strapi-v4_1
      APP_PORT: 1337
      PROXY_AUTH_ADD: "false"
  strapi-v4:
    image: naskio/strapi
    restart: always
    container_name: strapi-v4
    ports:
      - '1337'
    env_file: ${APP_DATA_DIR}/.env
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      # STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      WEBHOOK_STRIPE_TOKEN: ${WEBHOOK_STRIPE_TOKEN}
      SENDMAIL_DKIM_PRIVATE_KEY: ${SENDMAIL_DKIM_PRIVATE_KEY}
      SENDGRID_API_KEY: ${SENDGRID_API_KEY}
      STRAPI_ADMIN_API_TOKEN: ${STRAPI_ADMIN_API_TOKEN}
      STRAPI_ADMIN_LIVE_STRIPE_SECRET_KEY: ${STRAPI_ADMIN_LIVE_STRIPE_SECRET_KEY}
      STRAPI_ADMIN_TEST_STRIPE_SECRET_KEY: ${STRAPI_ADMIN_TEST_STRIPE_SECRET_KEY}
      STRAPI_ADMIN_PAYPAL_SANDBOX_API_URL: ${STRAPI_ADMIN_PAYPAL_SANDBOX_API_URL}
      STRAPI_ADMIN_PAYPAL_LIVE_API_URL: ${STRAPI_ADMIN_PAYPAL_LIVE_API_URL}
      STRAPI_ADMIN_LIVE_PAYPAL_CLIENT_ID: ${STRAPI_ADMIN_LIVE_PAYPAL_CLIENT_ID}
      STRAPI_ADMIN_LIVE_PAYPAL_CLIENT_SECRET: ${STRAPI_ADMIN_LIVE_PAYPAL_CLIENT_SECRET}
      STRAPI_ADMIN_SANDBOX_PAYPAL_CLIENT_ID: ${STRAPI_ADMIN_SANDBOX_PAYPAL_CLIENT_ID}
      STRAPI_ADMIN_SANDBOX_PAYPAL_CLIENT_SECRET: ${STRAPI_ADMIN_SANDBOX_PAYPAL_CLIENT_SECRET}
      TRANSFER_TOKEN_SALT: ${TRANSFER_TOKEN_SALT}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      API_TOKEN_SALT: ${API_TOKEN_SALT}
      APP_KEYS: ${APP_KEYS}
      JWT_SECRET: ${JWT_SECRET}
      NODE_ENV: ${NODE_ENV}
      DATABASE_SSL: "false" # boolean for SSL.
    volumes:
      - ${UMBREL_ROOT}/data/storage/strapi/app:/srv/app # create a new project in app volume
    depends_on:
      - postgres-strapi
  postgres-strapi:
    restart: always
    image: postgres:15
    container_name: postgres-strapi
    ports:
      - ${DATABASE_PORT}
    env_file: ${APP_DATA_DIR}/.env
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - ${UMBREL_ROOT}/data/storage/strapi/data_db:/var/lib/postgresql/data

volumes:
  data:
  app:
