version: '3.8'
services:
  strapi-v4:
    image: naskio/strapi
    restart: always
    container_name: strapi-v4
    ports:
      - '1337:1337'
    env_file: .env
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      WEBHOOK_STRIPE_TOKEN: ${WEBHOOK_STRIPE_TOKEN}
      SENDMAIL_DKIM_PRIVATE_KEY: ${SENDMAIL_DKIM_PRIVATE_KEY}
      SENDGRID_API_KEY: ${SENDGRID_API_KEY}
      NODE_ENV: ${NODE_ENV}
      DATABASE_SSL: "false" # boolean for SSL.
    volumes:
      - ./app:/srv/app # create a new project in app volume
    depends_on:
      - postgres-strapi
  postgres-strapi:
    restart: always
    image: postgres:15
    container_name: postgres-strapi
    env_file: .env
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    expose:
      - 5432
    volumes:
      - ./data_db:/var/lib/postgresql/data

volumes:
  data:
  app:
