version: '3'
services:
  strapi:
    container_name: strapi
    build: ${UMBREL_ROOT}/data/storage/strapi/
    image: strapi:latest
    restart: unless-stopped
    env_file: ${UMBREL_ROOT}/data/storage/strapi/.env
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_HOST: strapiDB
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PORT: ${DATABASE_PORT}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      NODE_ENV: ${NODE_ENV}
    volumes:
      - ${UMBREL_ROOT}/data/storage/strapi/config:/opt/app/config
      - ${UMBREL_ROOT}/data/storage/strapi/src:/opt/app/src
      - ${UMBREL_ROOT}/data/storage/strapi/package.json:/opt/package.json
      - ${UMBREL_ROOT}/data/storage/strapi/yarn.lock:/opt/yarn.lock

      - ${UMBREL_ROOT}/data/storage/strapi/.env:/opt/app/.env
      - ${UMBREL_ROOT}/data/storage/strapi/public/uploads:/opt/app/public/uploads
    ports:
      - '1337:1337'
    networks:
      - strapi
    depends_on:
      - strapiDB

  strapiDB:
    container_name: strapiDB
    platform: linux/amd64 #for platform error on Apple M1 chips
    restart: unless-stopped
    env_file: ${UMBREL_ROOT}/data/storage/strapi/.env
    image: postgres:14.5-alpine
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - ${UMBREL_ROOT}/data/storage/strapi/data:/var/lib/postgresql/data/
      #- ./data:/var/lib/postgresql/data/ # if you want to use a bind folder

    ports:
      - '3306:3306'
    networks:
      - strapi

  strapiAdminer:
    container_name: strapiAdminer
    image: adminer
    restart: unless-stopped
    ports:
      - '9090:8080'
    environment:
      - ADMINER_DEFAULT_SERVER=strapiDB
    networks:
      - strapi
    depends_on:
      - strapiDB

volumes:
  strapi-data:

networks:
  strapi:
    name: Strapi
    driver: bridge
