version: '3.3'
services:
  master:
    image: crawlabteam/crawlab
    container_name: crawlab_master
    environment:
      CRAWLAB_NODE_MASTER: "Y"
      CRAWLAB_MONGO_HOST: "crawlab_mongo"
    volumes:
      - ${UMBREL_ROOT}/data/storage/crawlab/data/master:/data
    ports:
      - "8088:8080"
    depends_on:
      - crawlab_mongo
  crawlab_mongo:
    image: mongo:4.2
