version: '3.7'

services:
  # app_proxy:
  #   environment:
  #     APP_HOST: opev-web
  #     APP_PORT: 8080

  postgres:
    image: postgis/postgis:12-3.0-alpine
    container_name: opev-postgres
    restart: always
    env_file:
      - ${UMBREL_ROOT}/data/storage/open-event-server/.env
    volumes:
      - ${UMBREL_ROOT}/data/storage/open-event-server/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: open_event_user
      POSTGRES_PASSWORD: opev_pass
      POSTGRES_DB: open_event

  opev-redis:
    image: redis:3-alpine
    container_name: opev-redis-container
    restart: always
    env_file:
      - ${UMBREL_ROOT}/data/storage/open-event-server/.env
    command: redis-server
    volumes:
      - ${UMBREL_ROOT}/data/storage/open-event-server/redis:/var/lib/redis/data

  web:
    image: eventyay/open-event-server:development
    container_name: opev-web
    restart: always
    env_file:
      - ${UMBREL_ROOT}/data/storage/open-event-server/.env
    environment:
      POSTGRES_HOST: postgres
      DATABASE_URL: postgresql://open_event_user:opev_pass@postgres:5432/open_event
      REDIS_URL: redis://opev-redis-container:6379/0
      ADMIN_EMAIL: "@{ADMIN_EMAIL}"
      ADMIN_PASSWORD: "@{ADMIN_PASSWORD}"
    ports:
      - 8080:8080
    depends_on:
      - postgres
      - opev-redis
    volumes:
      - ${UMBREL_ROOT}/data/storage/open-event-server/static:/data/app/static
      - ${UMBREL_ROOT}/data/storage/open-event-server/generated:/data/app/generated

  celery:
    image: eventyay/open-event-server:development
    container_name: opev-celery
    restart: always
    env_file:
      - ${UMBREL_ROOT}/data/storage/open-event-server/.env
    environment:
      POSTGRES_HOST: postgres
      DATABASE_URL: postgresql://open_event_user:opev_pass@postgres:5432/open_event
      REDIS_URL: redis://opev-redis-container:6379/0
      ADMIN_EMAIL: "@{ADMIN_EMAIL}"
      ADMIN_PASSWORD: "@{ADMIN_PASSWORD}"
      C_FORCE_ROOT: "true"
    depends_on:
      - web
    command: celery
