version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: firefish_firefish_1
      APP_PORT: 3000

  firefish:
    image: registry.joinfirefish.org/firefish/firefish
    container_name: firefish_web
    restart: unless-stopped
    depends_on:
      - db
      - redis
    # networks:
    #   - calcnet
    environment:
      NODE_ENV: production
    volumes:
      - ${APP_DATA_DIR}/files:/firefish/files
      - ${APP_DATA_DIR}/.config:/firefish/.config:ro

  redis:
    restart: unless-stopped
    image: docker.io/redis:7.0-alpine
    container_name: firefish_redis
    # networks:
    #   - calcnet
    volumes:
      - ${APP_DATA_DIR}/redis:/data

  db:
    restart: unless-stopped
    image: docker.io/postgres:12.2-alpine
    container_name: firefish_db
    # networks:
    #   - calcnet
    env_file:
      - ${APP_DATA_DIR}/.config/docker.env
    volumes:
      - ${APP_DATA_DIR}/db:/var/lib/postgresql/data

# networks:
#   calcnet:
