version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: firefish_web_1
      APP_PORT: 3000
      PROXY_AUTH_WHITELIST: "/*"
  web:
    image: registry.joinfirefish.org/firefish/firefish:v1.0.3
    container_name: web
    restart: unless-stopped
    depends_on:
      - db
      - redis
    # - sonic
    ports:
      - "3000:3000"
    # networks:
     # - calcnet
    environment:
      NODE_ENV: production
    volumes:
      - ${APP_DATA_DIR}/files:/firefish/files
      - ${APP_DATA_DIR}/.config:/firefish/.config:ro

  redis:
    restart: unless-stopped
    image: docker.io/redis:7.0-alpine
    container_name: redis
    # networks:
     # - calcnet
    volumes:
      - ${APP_DATA_DIR}/redis:/data

  db:
    restart: unless-stopped
    image: docker.io/postgres:12.2-alpine
    container_name: db
  #  networks:
   #   - calcnet
    env_file:
      - ${APP_DATA_DIR}/.config/docker.env
    volumes:
      - ${APP_DATA_DIR}/db:/var/lib/postgresql/data


#  sonic:
#    restart: unless-stopped
#    image: docker.io/valeriansaliou/sonic:v1.4.0
#    logging:
#     driver: none
#    networks:
#      - calcnet
#    volumes:
#      - ${APP_DATA_DIR}/sonic:/var/lib/sonic/store
#      - ${APP_DATA_DIR}/sonic/config.cfg:/etc/sonic.cfg

#networks:
 # calcnet:
