version: "3.7"

services:
  rhasspy:
    image: "rhasspy/rhasspy"
    container_name: rhasspy
    restart: unless-stopped
    volumes:
      - "$HOME/.config/rhasspy/profiles:/profiles"
      - "/etc/localtime:/etc/localtime:ro"
      - "/tmp/pulseaudio.socket:/tmp/pulseaudio.socket"
      - "/tmp/pulseaudio.client.conf:/etc/pulse/client.conf"
    ports:
      - "12101:12101"
    environment:
      - PULSE_SERVER=unix:/tmp/pulseaudio.socket
      - PULSE_COOKIE=/tmp/pulseaudio.cookie
    user: "root"
    privileged: true
    command: --user-profiles /profiles --profile fr
